.categories-list{
    display:grid;
    grid-template-columns: auto auto;
    font-weight: 900 !important;
    // display: none;  
}
// .navbar .nav-links .Category:hover{
//     // background-color: aqua;
//     display: block !important;
// }